@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    height: 100vh;
    color: rgba(0, 0, 0, 0.774);
    background-image: linear-gradient(to bottom left, #b61c5c 0%, #451cb6 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    width: 100rem;
    height: 40rem;
    background-color: rgba(240, 248, 255, 0.295);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.623);
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;

}

.name {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: auto;
}

.current {
    background-color: #451cb6;
    border-radius: 12px;
    display: flex;
    text-align: center;
    padding: 1rem;
    word-spacing: 3px;
}

.dice {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 15rem;
    height: 10rem;
    box-shadow: 0 2rem 5rem (rgba(0, 0, 0, 0.3));
}

.btn {
    position: absolute;
    left: 50%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-family: inherit;
    border: none;
    transform: translateX(-50%);


    padding: 0.7rem 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
} 

.btn--new {
    top: 2rem;
}

.btn--hold {
    top: 29.8rem;
}

.btn--roll {
    top: 26.2rem
}

