@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    height: 100%;
    padding: 15px;
    color: rgba(0, 0, 0, 0.774);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom left, #b61c5c 0%, #451cb6 100%);
}

main {
    position: relative;
    background-color: rgba(240, 248, 255, 0.295);
    width: 99%;
    overflow: hidden;
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.623);
    display: flex;
    overflow-x: hidden;
    
}

.player {
    flex: 100%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;

}

.player-1 {
    flex: 50%;
    margin-top: -5rem;
    grid-column: section;
}

.player-0 {
    flex: 50%;
    margin-top: -5rem;
    grid-column: section
}


.name {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 7rem;
    font-weight: 800;
    margin-top: -1.5rem;
    color: #b61c5c
}

.current {
    background-color: #b61c5c;
    opacity: 0.7;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 75%;
    word-spacing: 3px;
    transition: all 0.75s;
    margin-top: -2rem;
}

.current-label {
    top: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.current-score {
    margin-bottom: 1rem;
}

.dice {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 12rem;
    height: 10rem;
    box-shadow: 2rem 5rem 2rem (rgba(0, 0, 0, 0.3));
}

.p--btn {
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-family: inherit;
    transform: translateX(-50%);
    font-size: 1.2rem;
    padding: 0.6rem;
} 

.p--new {
    top: -8px;
    left: 50.5%;
    word-spacing: 15px;
    font-size: 25px;
    font-weight: 100;
}

.p--hold {
    top: 27.8rem;
    left: 50%;
    font-size: 25px;
    font-weight: 100;
}

.p--roll {
    top: 20.8rem;
    left: 50%;
    border-radius: 50rem;
    font-size: 25px;
    font-weight: 100;
}

.btn {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-family: inherit;
    transform: translateX(-50%);
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.6rem;
    border: none;
    transition: 0.4s;

    border-radius: 50%;
    font-size: 2rem;
} 

.btn--new {
    top: 3.8rem;
    left: 50%;
    color: #b61c5c;
}

.btn--roll {
    top: 25.1rem;
    left: 50%;
    color: #b61c5c;
}

.btn--hold {
    top: 32rem;
    left: 50%;
    color: #b61c5c;
}

.btn:hover {
    cursor: pointer;
    font-size: 2.3rem;
    transition: 0.8s;    
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.623);
}

.player-active {
    background-color: rgba(250, 235, 215, 0.603);
}

.hidden {
    display: none
}
